@model GoodnwsWebApp.ViewModels.HomePageViewModel

@if (Model.Stories.Count() == 0)
{
    <p class="story">No more articles</p>
}
else
{
    @foreach (var article in Model.Stories)
    {
        @if (String.IsNullOrEmpty(article.Image))
        {
            @await Html.PartialAsync("~/Views/Shared/_ArticleWithoutImage.cshtml", article)
        }
        else
        {
            @await Html.PartialAsync("~/Views/Shared/_ArticleWithImage.cshtml", article)
        }
    }
}