@model GoodnwsWebApp.ViewModels.HomePageViewModel
@{
    ViewData["Title"] = "Good News - It does exist";
}

<div class="container root">
    @foreach (var article in Model.Stories)
    {
        @if (String.IsNullOrEmpty(article.Image))
        {
            @await Html.PartialAsync("~/Views/Shared/_ArticleWithoutImage.cshtml", article)
        }
        else
        {
            @await Html.PartialAsync("~/Views/Shared/_ArticleWithImage.cshtml", article)
        }
    }
</div>
<!-- infinite scroll status elements -->
<div class="scroller-status">
    <p class="infinite-scroll-request text-center">Loading&hellip;</p>
    <p class="infinite-scroll-last">No more articles</p>
    <p class="infinite-scroll-error">Error retrieving articles</p>
</div>
